.container{
  display:grid;
  margin:20px;
  grid-template-columns: repeat(3, 350px 600px 400px);
  grid-gap: 20px;

}
.border{
  border: 1px solid #8a8a8a;
  border-radius: 6px;
}
.product{
  margin:10px 10px 0px 10px;
  font-size: 30px;
  font-weight: bold;
}
.productitem{
  display: grid;  
  grid-template-columns:repeat(2, 1fr); 
}