.App {
  /* text-align: center; */
  border:1px solid #cdd1d6;
  border-radius: 4px;
  display: grid;
}
/* .Layout{
  margin: 50px 550px;
} */
.input{
  border-width: 0px;
  font-size: 20px;
}
input {
  outline:none;
 }
 .InputCol{
  display: grid;
  grid-template-columns: 250px 130px;
 }